@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
body {
  background: url(https://raw.githubusercontent.com/rottingroom/rottingroom.github.io/master/img/Blur.jpg);
  background-size: 110% 110%;
  background-repeat: no-repeat;
  background-attachment: fixed
}

/* Typography */

body {
  color: #000;
  line-height: 1.5em;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
}

p {
  font-size: .98em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  color: #A65B4B;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-weight: bold;
  margin-bottom: -10px;
}

/* Navigation */

nav {
  background: black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

nav a:link,
nav a:visited {
  font-weight: 600;
  color: #A65B4B;
  outline: #A65B4B;
  padding: 21px 5px;
  margin: 0;
  text-decoration: none;
}

nav a:focus,
nav a:hover {
  font-weight: 500;
  background: #A65B4B;
  color: white;
  -webkit-transition: background .5s;
  transition: background .5s;
}

#navright a:focus,
#navright a:hover {
  background: white;
}

#navleft ul {
  width: 70%;
}

#navright ul {
  width: 30%;
}

#navleft {
  float: left;
}

#navright {
  float: right;
}

nav ul {
  height: 60px;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  color: #999;
  font-weight: 600;
  list-style-type: none;
}

#navleft li {
  margin: 0 10px;
}

#navright li {
  float: right;
  height: 60px;
  width: 60px;
  padding: 0;
}

#navright a:link,
#navright a:visited {
  float: right;
  display: block;
  height: 30px;
  width: 30px;
  padding: 6px;
  margin: 9px;
  border-radius: 250px;
}

#navright img {
  float: right;
  height: 30px;
  width: 30px;
  padding: 0;
}

#logolink {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
}

#logo {
  width: 50px;
  height: 50px;
}

.spacer {
	width: 100%;
	height: 60px;
/* 	margin-bottom: 10px; */
}

/* Header */

header img {
	-webkit-transition: all .8s;
	transition: all .8s;
	margin-bottom: 5px;
	z-index: 501;
  position: relative;
  top: -5px;
  left: -30px;
  width: 380px; 
  border-radius: 3px 3px 0 0;
  float: left;
}

/* Blog */

.rss-items {
  color: gray;
  background: white;
  padding: 0;
	font-size: .98em;
}

.rss-item {
  list-style-type: none;
  text-decoration: none;
}

.rss-item a:link,
.rss-item a:visited {
  color: #A65B4B;
  font-size: 1.5em;
  font-weight: bold;
	border-radius: 2px;
}

.rss-item a:focus,
.rss-item a:hover {
  background: #A65B4B;
  color: white;
	-webkit-transition: background .5s;
	transition: background .5s;
}

.rss-date {
  display: block;
  margin-top: 10px;
  font-size: 10pt;
}

section a img {
	padding: 5px 5px 2px 5px;
}

/* Portfolio */

aside .container {
  background: black;
  border-radius: 3px 3px 0 0;
	padding-left: 6%;
	padding-right: 4%;
}

aside a {
  display: inline-block;
	width: 30%;
  padding: 1% 1% 0 1%;
  border-radius: 4px;
}

aside a:focus,
aside a:hover {
  background: white;
	-webkit-transition: background .5s;
	transition: background .5s;
}

#gallery img {
	-webkit-transition: all .4s;
	transition: all .4s;
  margin: 0;
  width: 100%;
  height: 100%;
}

/* Resume */

article li {
  list-style-type: none;
  position: relative;
  left: -40px;
}

article p {
	margin-top: 0;
	margin-right: -40px;
	margin-bottom: 5px;
}

article button {
	font-size: 13px;
	height: 35px;
	line-height: 10px;
	width: 90px;
	position: absolute;
	top: 10px;
	right: 10px;

}

/* Footer */

footer .container {
  background: black;
  color: white;
  border-radius: 0 0 3px 3px;
}


/* Contact Form */

#formcontainer {
  width: 640px;
  margin: 100px auto;
}

form {
  width: 98%;
  margin: 0 auto;
}

label,
input,
textarea {
  display: block;
  text-align: left;
  width: 98%;
  margin: 10px 0;
	padding: 1%;
  color: #999;
  border: none;
}

label {
	padding: 0;
}

textarea {
  height: 100px;
}

input[type="text"],
input[type="email"] {
	padding-top: 10px;
	padding-bottom: 10px;
  border: none;
}

input[type="submit"],
button {
  text-align: center;
  display: inline;
  padding: 10px;
  margin: 10px 15px 0 0;
  background: #4479BA;
  color: white;
  border: none;
  width: 150px;
  float: left;
}

form a {
  text-align: center;
  text-decoration: none;
  display: inline;
  padding: 10px;
  margin: 10px 0;
  background: #4479BA;
  color: white;
  border: none;
  width: 100px;
  height: 18px;
  float: left;
}

:focus,
input:focus,
textarea:focus,
form a:focus {
  background: #F6E9E7;
  -webkit-transition: background .5s;
  transition: background .5s;
  outline: #F6E9E7;
  color: #000;
}

.lightbox:target form {
	-webkit-animation: fadein 1s;
	        animation: fadein 1s;
}

/* Lightbox */

.lightbox {
	visibility: hidden;
  position: fixed;
	top: 0;
	left: 0;
  z-index: 9999;
	height: 100%;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: background 1s;
  transition: background 1s;
}

.lightbox figure {
  width: 96%;
  height: 85%;
  margin: 2% 2%;
}

.lightbox figure img {
  max-width: 96%;
  max-height: 96%;
  margin: 2%;
  box-shadow: 0 18px 20px rgba(0, 0, 0, 0.9);
}

.lightbox figure figcaption {
	color: white;
}

a.lightbox {
	text-decoration: none;
}

.lightbox:target {
	visibility: visible;
  outline: none;
  background: rgba(0, 0, 0, 0.8);
}

.lightbox:target img {
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}

/* Layout */

nav {
  width: 100%;
  height: 60px;
  line-height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
}

main {
	-webkit-transition: width .8s;
	transition: width .8s;
	position: relative;
  width: 1084px;
  margin: 0 auto;
}

header {
	-webkit-transition: all .7s;
	transition: all .7s;
  width: 400px;
}

.moveright {
	z-index: 500;
	position: absolute;
	top: 60px;
	right: 0;
}

section {
  width: 680px; 
	position: relative;
/* 	right: 0; */
}

article {
	position: relative;
  width: 680px;
  
}

article .container {
	position: relative;
	top: 10px;
}

aside {
  width: 400px;
}

aside .container {
	position: relative;
	top: -12.5px;
	margin-top: 0;
	margin-bottom: 0;
}

footer {
	display: inline-block;
  width: 400px; 
}

footer .container {
	margin-top: -12.5px;
}

/* Container */

.container {
  width: auto;
  margin: 10px;
  padding: 5px 30px;
  background: white;
  border-radius: 3px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  color: gray;
	-webkit-animation: slideDown backwards;
	        animation: slideDown backwards;
	-webkit-animation-delay: .2s;
	        animation-delay: .2s;
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
}

/* Animations */

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-400px);
		        transform: translateY(-400px);
		-webkit-transform: scale(1.1);
		        transform: scale(1.1);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0px);
		        transform: translateY(0px);
		-webkit-transform: scale(1);
		        transform: scale(1);
		opacity: 1;
	}
}

@keyframes slideDown {
	0% {
		-webkit-transform: translateY(-400px);
		        transform: translateY(-400px);
		-webkit-transform: scale(1.1);
		        transform: scale(1.1);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0px);
		        transform: translateY(0px);
		-webkit-transform: scale(1);
		        transform: scale(1);
		opacity: 1;
	}
}

@-webkit-keyframes fadein {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes fadein {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

/* Tablet */

@media screen and (max-width: 1120px) {
  
  main {
		-webkit-transition: all .5s;
		transition: all .5s;	
    width: 600px
  }
  
  nav #name {
    display: none;
  }
  
  #logolink {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin-left: auto;
    margin-right: 0;
  }
  
  #navright {
    display: block;
    width: 30px;
    position: absolute;
    right: 0;
    top: 60px;
  }
	
	.moveright {
		position: static;
	}
	
	header,
	article {
		margin-bottom: 20px;
	}
  
  header img {
		-webkit-transition: all .7s;
		transition: all .7s;
    width: 110px;
    margin: 25px -10px 0 20px;
    border-radius: 250px;
  }
  
	header,
  section,
  article,
  aside,
  footer {
		position: relative;
		right: 0;
    width: 100%;
  }
	
	header {
		-webkit-transition: all .7s;
		transition: all .7s;
		position: relative;
		right: 0;
    width: 100%;
  }
  
  #formcontainer {
    width: 65%;
  }
  
}

/* Phablet */

@media screen and (max-width: 700px) {

  main {
		-webkit-transition: all 1s;
		transition: all 1s;
    width: 85%;
  }
  
}

/* Mobile */

@media screen and (max-width: 500px) {
  
  main {
    width: 98%;
  }
  
  header {
    position: relative;
    top: 10px;
  }
  
  header .container {
    width: auto;
    margin: 0 10px 20px 10px;
    padding: 0;
  }
  
  header img {
    width: 100%;
    margin: 0;
    border-radius: 3px 3px 0 0;
    position: static;
  }
  
  header p {
    position: relative;
    top: 10px;
    margin: 0 30px 10px 30px;
    padding-bottom: 30px;
  }
  
  #formcontainer {
    width: 90%;
  }
	
	section a img {
		position: relative;
		left: -5px;
		margin: 0;
		width: 100%;
		height: auto;
	}
	
	section a {
		-webkit-transition: all .5s;
		transition: all .5s;
		width: 100%;
	  margin: 0;
		float: left;
	}
  
}

/* Make form scrollable if form is taller than screen */

@media screen and (max-height: 551px) {
	
	#Contact:target {
		position: absolute; 
		height: 550px;
	}

}