@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

/* ----------------------------Global----------------------------- */

body {
  background: url(https://i.ytimg.com/vi/iXA-St5VB5U/maxresdefault.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Navigation */

nav {
  background: black;
}

nav a:link,
nav a:visited {
  font-weight: 600;
  color: #A65B4B;
  padding: 21px 5px;
  text-decoration: none;
}

nav a:hover {
  font-weight: 500;
  background: #A65B4B;
  color: white;
  transition: background .5s;
}

#navright a:hover {
  background: none;
}

nav ul {
  padding: 0;
}

nav li {
  color: #999;
  font-weight: 600;
  list-style-type: none;
  line-height: 29px;
  display: inline;
  margin: 0 10px;
}

nav img {
  height: 2em;
}

/* Header */

header img {
  background: black;
  margin: 15px 0 0 0;
  border-radius: 8px 8px 0 0;
}

header p {
  background: white;
  padding: 10px 30px;
  border-radius: 0 0 8px 8px;
}

/* Blog */

.rss-items {
  color: black;
  background: white;
  border-radius: 8px;
  padding: 30px;
}

.rss-item {
  list-style-type: none;
  text-decoration: none;
  margin: 0 0 20px 0;
}

.rss-item a:link,
.rss-item a:visited {
  color: #A65B4B;
  font-size: 1.75em;  
  font-weight: bold;
}

.rss-date {
  display: block;
  margin: 10px 0 0 0;
  font-size: 0.9em;
}

/* Portfolio */

aside {
  color: white;
}

aside div {
  background: black;
}

aside h2 {
  margin: 20px 10px 10px 10px;
}

/* Resume */

article h2 {
  margin: 20px 10px 10px 0;
}

article div {
  background: white;
  padding: 10px 30px;
  border-radius: 8px;
  margin: 20px 0 30px 0;
}

article li {
  list-style-type: none;
  position: relative;
  left: -20px;
}

/* Footer */

footer {
  color: white;
}

footer p {
  background: black;
  padding: 10px 30px;
  margin: 15px 0;
  border-radius: 0 0 8px 8px;
}

/* ----------------------------Typography----------------------------- */

body {
  color: #000;
  line-height: 1.5em;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
}

p  {font-size: 1em;}
h1 {font-size: 2em;}
h2 {font-size: 1.75em; color: #A65B4B;}
h3 {font-size: 1.5em;}

/* Layout */

main {
  max-width: 80em;
  margin: 0 auto;
  position: relative;
  top: 100px;
}

/* ----------------------------Desktop----------------------------- */

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 60px;
  opacity: .95;
}

#navright {
  float: right;
}

#logo {
  width: 54px;
  height: 54px;
  position: absolute;
  left: 0;
  right: 0;
  top: 10%;
  margin-left: auto;
  margin-right: auto;
}

/* Layout Header */

header {
  width: 33%;
  float: left;
}

header img {
  width: 100%;
  float: left;
  position: relative;
  top: -40px;
}

#aboutme {
  position: relative;
  width: 100%;
  top: -40px;
  clear: left;
}

/* Layout Portfolio */

aside {
  width: 33%;
  clear:left;
}

aside div {
  width: 96%;
  margin: 0 0 2% 0; 
  padding: 2%;
  border-radius: 8px 8px 0 0;
}

aside img {
  width: 94%;
  margin: 10px 3%;
}

/* Layout Blog */
section {
  width: 63%;
  float: right;
  position: relative;
  top: -40px;
}

article {
  width: 63%;
  float: right;
  position: relative;
  top: -40px;
}

/* Layout Resume */

footer {
  width: 33%;
  margin: 15px 0;
  position: relative;
  top: -20px;
}

/* ----------------------------Tablet----------------------------- */


@media screen and (max-width: 1200px) {

  /* Tablet Navigation */
  
  #logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    margin-left: auto;
    margin-right: 0;
  }
  
  #navright {
    display: block;
    float: right;
    width: 20px;
    position: absolute;
    right: 30px;
    top: 80px;
  }

  /* Tablet Header   */
  
  header {
    width: 100%;
  }
  
  header #heroimg {
    position: static;
    width: 400px; 
    margin: 0 auto;
  }
  
  #aboutme {
    position: relative;
    width: 400px;
    margin: 0 auto;
  }
  
  /* Tablet Resume */
  
  article {
    width: 100%;
  }
  
  article h2 {
    margin: 20px 10px 10px 0;
  }
  
  article div {
    margin: 10px;
    margin: 40px 10px 0 10px;
  }
  
  /* Tablet Portfolio   */
  
  aside{
    position: static;
    width: 100%;
    float: left;
    clear: left;
  }
  
  aside div{
    position: relative;
    width: auto;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
   aside h2 {
    margin: 10px;
  }
  
  /* Tablet Blog   */
  
  section {
  display: block;
  width: 100%;
  float: left;
  }
  
  section h2 {
    margin: 10px;
  }
  
  .rss-items{
  margin: 0 10px;
  }
  
  /* Tablet Footer */
  
  footer {
    width: 100%;
    float: left;
    clear: left;
    position: relative;
    top: -45px;
  }
  
  footer p {
    margin: 10px;
  }
  
}
  
/* ----------------------------Mobile----------------------------- */

@media screen and (max-width: 550px) {

  header,
  article,
  aside,
  footer {
    position: relative;
    top: -40px;
  }
  
/* Mobile Navigation */
  
  nav #name {
    display:none;
  }
  
/* Mobile Header */
  
  header {
    
  }

  header #heroimg {
    width: 100%;
    margin: 0 auto;
  }

  header img {
    margin: 50px 2% 0 2%;
    width: 96%;

  }

  #aboutme {
    width: 96%;
    margin: 0 auto;
    left: 0;
  }

  #aboutme p{
    margin: 0;
  }
  
  footer p {
    margin-top: -40px;
  }
  

}


